* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.card-background {
  /* The image used */
  background-image: url(../src/assets/imgs/restaurant.png);

  height: 200px;
  width: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-image {
  /* The image used */
  background-image: url(../src/assets/imgs/restaurant.png);

  height: 400px;
  width: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: black;
  transition: width .6s ease;
}